@use 'colors' as *;
@use 'mixins' as *;
@use 'constants' as *;

.go-back {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 40px;
    left: 40px;
    background-color: $text;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: $bg;
    border-radius: 9999px;

    @include mq-mobile {
        top: 20px;
        left: 20px;
    }
}

.banner {
    height: 350px;
    position: relative;
    background-color: $bg-grayed;

    @include mq-mobile {
        height: 200px;
    }
}

.wrapper {
    padding: 0 40px 40px;

    @include mq-mobile {
        padding: 0 20px;
    }
}

.profileImg-wrapper {
    --img-size: 180px;
    width: var(--img-size);
    height: calc(var(--img-size) / 2);
    margin-bottom: 10px;

    @include mq-mobile {
        --img-size: 140px;
    }
}

.profileImg {
    width: var(--img-size);
    height: var(--img-size);
    transform: translateY(-50%);
    position: relative;
    border: solid 4px $bg-grayed;
    border-radius: 9999px;
    overflow: hidden;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 40px;
}

.testimony {
    margin-bottom: 40px;

    > h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;

        > span {
            color: $accent;
            font-weight: bold;
        }
    }

    &-text {
        font-size: 16px;
        line-height: 1.5;
        color: $text-grayed;

        > p:first-of-type {
            font-size: 18px;
            font-weight: 600;
            color: $text;

            @include mq-mobile {
                font-size: 16px;
            }
        }
    }
}

.colleagues {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.colleague {
    display: block;
    padding: 6px 12px;
    border-radius: 9999px;
    background-color: $bg-grayed;
    font-size: 16px;
    font-weight: 600;
    transition: background-color $transitionDuration;

    &:hover {
        background-color: $accent;
    }

    @include mq-mobile {
        font-size: 15px;
    }
}
